# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Build
dist/
build/

# Env files
.env
*.env
**/.env

# SSL / Certbot
nginx/certbot/
*.pem
*.key

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/tfplan-*
terraform/contas/*.tfvars
terraform/.terraform.tfstate.lock.info
terraform/scripts/set-credentials.sh

# Scripts com senhas hardcoded (nao commitar)
terraform/scripts/create-test-user.sh
terraform/scripts/db-setup.sh
terraform/scripts/db-setup2.sh

# Terraform Atividade
terraform-atividade/.terraform/
terraform-atividade/.terraform.lock.hcl
terraform-atividade/*.tfstate
terraform-atividade/*.tfstate.*
terraform-atividade/terraform.tfvars
terraform-atividade/.terraform.tfstate.lock.info
