
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: #0D1936;
    --secondary-color: #535354;
    --background-color: #0d1936;
    --background-dark: #000;
    --shadow-color: #0e0000;
    --white-color: #ffffff;
    --black-color: #000;
    --input-border-color: #000000;
    --transition-3s: 0.4s;
    --highlight-color: 0, 0, 0;
    --x: 50%;
    --y: 50%;
    --background-image-url: url('../login/fundo.jpg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: var(--background-image-url); 
    background-size: cover;
    background-position: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -2;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 90px;
    background-color: #fffff3;
    z-index: 10;
    transition: background-color 0.4s ease;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
}
.logo img {
    width: 120px;
}
.logo span {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}
.logo p {
    font-size: 14px;
    margin-top: 5px;
    color: #000;
}
.main-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
.main-nav a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}
.main-header .p{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}
.main-nav a:hover {
    color: #444742;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

h1 {
    color: #333;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
}

textarea {
    height: 150px; 
    resize: none; 
}

button {
    background-color: #2c5f59; 
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e4541; 
}

.main-footer {
    width: 100%;
    height: 60px;
    background-color: #084A1C;
    position: fixed;
    bottom: 0;
    transition: background-color 0.4s ease;
}